training/Co-DETR/configs
training/Co-DETR/data
training/Co-DETR/demo
training/Co-DETR/docker
training/Co-DETR/docs
training/Co-DETR/figures
training/Co-DETR/mmcv_custom
training/Co-DETR/mmdet
training/Co-DETR/models
training/Co-DETR/projects
training/Co-DETR/requirements
training/Co-DETR/resources
training/Co-DETR/tests
training/Co-DETR/tools
training/Co-DETR/weight
training/Co-DETR/.gitignore
training/Co-DETR/.readthedocs.yml
training/Co-DETR/LICENSE
training/Co-DETR/setup.py
training/Co-DETR/setup.cfg
training/Co-DETR/requirements.txt
training/Co-DETR/README.md
data
inference/result_yolo
inference/result_fuse
inference/result_codetr
inference/test_result

preprocessing/NAFNet
preprocessing/NAFNet/basicsr
preprocessing/NAFNet/datasets
preprocessing/NAFNet/demo
preprocessing/NAFNet/docs
preprocessing/NAFNet/experiments
preprocessing/NAFNet/options
preprocessing/NAFNet/scripts

preprocessing/GSAD/checkpoints
preprocessing/GSAD/config
preprocessing/GSAD/core
preprocessing/GSAD/data
preprocessing/GSAD/dataset
preprocessing/GSAD/experiments
preprocessing/GSAD/images
preprocessing/GSAD/model
preprocessing/GSAD/options
preprocessing/GSAD/utils
preprocessing/GSAD/env.yaml
!preprocessing/GSAD/inference.py
!preprocessing/GSAD/inference.sh
preprocessing/GSAD
preprocessing/NAFNet
inference/results/
inference/predict_step2/
inference/fuse_remove/
training/Co-DETR_base.zip
training/Co-DETR.zip
training/yolo.zip
inference/fus*
inference/pre*
inference/inter*

training/yolo/weights/*.pt
training/Co-DETR_base
training/yolo/*.pt
training/yolo/weights/*
preprocessing/GSAD/env.yaml
